extends layout

block content
	.section(ng-controller='FindInvitationController')
		.row
			.small-6.small-centered.columns
				h3 Find Invitation
				p Please enter the e-mail address your invitation was sent to:
				input(type='text', id='email', placeholder='name@example.com')
				button(ng-click='find()') Find