doctype html
html(ng-app='wedding')
head
    base(href='/')
    title G + V
    meta(charset='utf-8')
    meta(content='IE=edge,chrome=1', http-equiv='X-UA-Compatible')

    link(href='http://fonts.googleapis.com/css?family=Pacifico', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Permanent+Marker', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:700,800,400', rel='stylesheet', type='text/css')
    link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='/css/normalize.css', rel='stylesheet', type='text/css')
    link(href='/css/foundation.css', rel='stylesheet', type='text/css')
    link(href='/css/styles.css', rel='stylesheet', type='text/css')

    script(src='https://maps.googleapis.com/maps/api/js')

    script(src='/js/libs/jquery.js')
    script(src='/js/libs/underscore.js')
    script(src='/js/libs/angular.js')
    script(src='/js/wedding.js')
    script(src='/js/controllers/FindInvitationController.js')
    script(src='/js/controllers/RsvpController.js')
body
    header
        .row
            .small-12.columns
                a(href='/')
                    h1 Garrett + Veronica
                    h2 30 &bull; 05 &bull; 2015
    block content