extends layout

block content
	section(ng-controller='RsvpController')
		.row
			.small-12.medium-6.small-centered.columns
				h3 Rsvp!
				p Having issues or just like doing things the &ldquo;old-fashioned&rdquo; way? <a href='mailto:rsvp@garrettandveronica.com'>E-mail us</a>.

				form
					fieldset.guest(ng-repeat='guest in model.guests track by $index')
						h4 Guest {{ $index + 1 }}

						.row
							.small-12.columns
								label(for='name-{{ $index }}') Name
								input(type='text', id='name-{{ $index }}', placeholder='Name', ng-model='guest.name')

						.row
							.small-12.medium-6.columns
								input(type='radio', id='isAttending-{{ $index }}', name='isAttending-{{ $index }}', ng-value='true', ng-model='guest.isAttending')
								label(for='isAttending-{{ $index }}') Accepts
								input(type='radio', id='isNotAttending-{{ $index }}', name='isNotAttending-{{ $index }}', ng-value='false', ng-model='guest.isAttending')
								label(for='isNotAttending-{{ $index }}') Regrets

						.row
							.small-12.columns
								label Dietary considerations?
								textarea(rows='3', ng-model='guest.dietaryConsiderations')

					label(for='address') Address
					input(type='text', id='address', placeholder='Address 1', ng-model='model.address1')
					input(type='text', placeholder='Address 2', ng-model='model.address2')

					label(for='city') City
					input(type='text', id='city', placeholder='City', ng-model='model.city')

					label(for='province') Province
					input(type='text', id='province', placeholder='Province', ng-model='model.province')

					label(for='postalCode') Postal Code
					input(type='text', id='postalCode', placeholder='Postal Code', ng-model='model.postalCode')

					p We'd love you to stay and party with us all night! Would you be interested in bus service to and from the venue from a central Winnipeg location?
					label
						input(type='radio', name='arePartyAnimals', value='true', ng-model='model.arePartyAnimals') 
						|&nbsp;Heck yeah!
					label
						input(type='radio', name='arePartyAnimals', value='false', ng-model='model.arePartyAnimals') 
						|&nbsp;Nah

					button(ng-click='save()', ng-disabled='isSaving') Ka-pow!

					.alert-box.success(ng-show='isSaved', ng-cloak)
						|Thanks!

					.alert-box.alert(ng-show='isError', ng-cloak)
						|Error submitting RSVP. Please try again or call us.