extends layout

block content
	section(ng-controller='RsvpController')
		pre {{ invitationId}}
		.row
			.small-6.small-centered.columns
				h3 Rsvp!
				p Having issues or just like doing things the old-fashioned way? Call <a href='tel:(204) 979-6392'>Garrett</a> or <a href='tel:(204) 998-0863'>Veronica</a>.

				form
					fieldset.guest(ng-repeat='guest in model.guests track by $index')
						h4 Guest {{ $index + 1 }}

						.row
							.small-12.large-6.columns
								label(for='first-name-{{ $index }}') First Name
								input(type='text', id='first-name-{{ $index }}', placeholder='First Name', ng-model='guest.firstName')

							.small-12.large-6.columns
								label(for='last-name-{{ $index }}') Last Name
								input(type='text', id='last-name-{{ $index }}', placeholder='Last Name', ng-model='guest.lastName')

						.row
							.small-12.large-6.columns
								input(type='radio', id='isAttending-{{ $index }}', name='isAttending-{{ $index }}', value='true', ng-model='guest.isAttending')
								label(for='isAttending-{{ $index }}') Accepts
								input(type='radio', id='isNotAttending-{{ $index }}', name='isNotAttending-{{ $index }}', value='false', ng-model='guest.isAttending')
								label(for='isNotAttending-{{ $index }}') Regrets

						.row
							.small-12.columns
								label Dietary considerations?
								textarea(rows='3', ng-model='guest.dietaryConsiderations')

					label(for='address') Address
					input(type='text', id='address', placeholder='Address 1', ng-model='model.address1')
					input(type='text', placeholder='Address 2', ng-model='model.address2')

					label(for='city') City
					input(type='text', id='city', placeholder='City', ng-model='model.city')

					label(for='province') Province
					input(type='text', id='province', placeholder='Province', ng-model='model.province')

					label(for='postalCode') Postal Code
					input(type='text', id='postalCode', placeholder='Postal Code', ng-model='model.postalCode')

					p We'd love you to stay and party with us all night! Would you be interested in bus service to and from the venue from a central Winnipeg location?
					label
						input(type='radio', name='arePartyAnimals', value='true', ng-model='model.arePartyAnimals') 
						|&nbsp;Hell yeah!
					label
						input(type='radio', name='arePartyAnimals', value='false', ng-model='model.arePartyAnimals') 
						|&nbsp;Nah

					button(ng-click='save()') Ka-pow!