html {
  background: url('../images/symphony.png'); }

body {
  background: transparent;
  font-family: 'Open Sans', sans-serif; }

h1 {
  color: #008CBA;
  font-family: 'Pacifico', cursive;
  font-size: 60px;
  font-weight: 700;
  text-align: center; }

h2 {
  color: #00aee7;
  font-family: 'Pacifico', cursive;
  font-weight: 700;
  margin-top: -30px;
  text-align: center; }

h3 {
  font-family: 'Pacifico';
  margin: 0 0 20px 0;
  text-align: center; }

h4 {
  font-family: 'Pacifico';
  margin: 0 0 20px 0; }

header {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px 0;
  margin-bottom: 40px; }

.polaroids {
  list-style: none;
  text-align: center; }
  .polaroids li {
    background-color: #fff;
    display: inline-block;
    height: 295px;
    padding: 5px 5px 40px 5px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    transform: rotate(-2deg);
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5); }
    .polaroids li:nth-child(even) {
      -webkit-transform: rotate(2deg);
      -moz-transform: rotate(2deg);
      transform: rotate(2deg); }
    .polaroids li:hover {
      -webkit-transform: scale(1.25);
      -moz-transform: scale(1.25);
      transform: scale(1.25);
      -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
      -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
      position: relative;
      z-index: 5; }
    .polaroids li span {
      font-family: 'Permanent Marker', cursive; }
    .polaroids li img {
      display: block;
      margin-bottom: 5px; }

.rsvp {
  display: inline-block;
  font-size: 60px;
  margin: 0 0 40px 0; }
  .rsvp .rsvp-text {
    color: #fff;
    font-size: 24px;
    font-weight: 800; }
  .rsvp:hover {
    -ms-animation: wiggle 0.3s infinite;
    -moz-animation: wiggle 0.3s infinite;
    -webkit-animation: wiggle 0.3s infinite;
    animation: wiggle 0.3s infinite; }

.map {
  border-bottom: 1px solid #999;
  border-top: 1px solid #999;
  height: 300px;
  margin: 0 0 40px 0;
  width: 100%; }
  .map img {
    max-width: none; }

ul {
  list-style-type: circle; }

section {
  background: #fff;
  opacity: 0.7;
  padding: 20px;
  margin: 0 0 40px 0; }

.guest {
  padding: 10px 20px 4px 20px;
  position: relative; }
  .guest .remove {
    color: #666;
    font-size: 32px;
    position: absolute;
    top: 0px;
    right: 20px;
    transition: color 0.2s; }
    .guest .remove:hover {
      color: #f00; }

@-ms-keyframes wiggle {
  0% {
    -ms-transform: rotate(3deg); }

  50% {
    -ms-transform: rotate(-3deg); }

  100% {
    -ms-transform: rotate(3deg); } }

@-moz-keyframes wiggle {
  0% {
    -moz-transform: rotate(3deg); }

  50% {
    -moz-transform: rotate(-3deg); }

  100% {
    -moz-transform: rotate(3deg); } }

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(3deg); }

  50% {
    -webkit-transform: rotate(-3deg); }

  100% {
    -webkit-transform: rotate(3deg); } }

@keyframes wiggle {
  0% {
    transform: rotate(3deg); }

  50% {
    transform: rotate(-3deg); }

  100% {
    transform: rotate(3deg); } }
