---
title: 'RSVP | G + V'
---

<section>
	<div class="row">
		<div class="small-6 small-centered columns">
			<h3>Rsvp!</h3>
			<p>Having issues, or just like doing things the old-fashioned way? <a href="tel:(204) 998-0863">Call us!</a></p>

			<form>
				<input type="text" placeholder="First Name" />
				<input type="text" placeholder="Last Name" />
				
				<label><input type="radio" name="isAttending" value="true" /> Accepts</label>
				<label><input type="radio" name="isAttending" value="false" /> Regrets</label>

				<p>Dietary restrictions?</p>
				<textarea></textarea>

				<p>
					<a href="#">+ Add Guest</a>
				</p>

				<h3>Optional questions!</h3>

				<p>We want you to stay and party with us all night! Would you be interested in bus service to and from the venue from a central Winnipeg location?</p>
				<label><input type="radio" name="isInterestedInTransit" value="true" /> Hell yeah!</label>
				<label><input type="radio" name="isInterestedInTransit" value="false" /> Nah</label>

				<p>Finally, we'd love to add you to our address book:</p>

				<input type="text" placeholder="Address 1" />
				<input type="text" placeholder="Address 2" />
				<input type="text" placeholder="City" />
				<input type="text" placeholder="Province" />
				<input type="text" placeholder="Postal Code" />

				<button type="submit">Ka-pow!</button>
			</form>
		</div>
	</div>
</section>